<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Ejemplo</title>
</head>
<body>
<h1>Formulario de Ejemplo</h1>
<form method="post" th:action="@{/procesarFormulario}" th:object="${usuario}">
    <label for="nombre">Nombre:</label>
    <input id="nombre" th:field="${usuario.nombre}" type="text"/><br/>

    <label for="edad">Edad:</label>
    <input id="edad" th:field="${usuario.edad}" type="number"/><br/>

    <button type="submit">Enviar</button>
</form>

</body>
</html>
</body>
</html>